html,
body {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-family: 'Maven Pro', sans-serif;
  margin: 0;
}

p,
li,
span,
label,
input,
textarea,
div {
  font-family: 'Maven Pro', sans-serif;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.header {
  background: url(../img/main-bg.png) no-repeat center/cover;
  height: 100vh;
}

.header-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
}

.header-top__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top__menu i {
  font-size: 30px;
}

.header-top__menu span {
  margin-left: 8px;
}

.header-top__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-top__nav ul li {
  margin-left: 80px;
}

.header-top__nav ul li:first-child {
  margin-left: 0;
}

.header-top__nav ul li a {
  color: #ffffff;
}

.header-top__lang select {
  background: none;
  border: none;
  text-transform: uppercase;
  color: #ffffff;
}

.header-main {
  color: #C0AF91;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80vh;
}

.header-main__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  white-space: nowrap;
}

.header-main__left div {
  position: relative;
}

.header-main__left div::before {
  content: '';
  display: block;
  position: absolute;
  width: 20px;
  height: 1px;
  background: #ffffff;
  left: -30px;
  bottom: 9px;
}

.header-main__left i {
  font-size: 8px;
  margin-left: 25px;
  color: #303030;
}

.header-main__left i:nth-child(2) {
  color: #ffffff;
}

.header-main__center h1 {
  font-size: 100px;
  font-weight: 400;
  margin-bottom: 37px;
}

.header-main__right {
  opacity: .2;
  white-space: nowrap;
  -webkit-transform: rotate(90deg) translateY(50%);
          transform: rotate(90deg) translateY(50%);
}

.works {
  padding-top: 70px;
}

.works-wrapper .decor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  overflow: hidden;
  margin-top: 200px;
  margin-bottom: 100px;
}

.works-wrapper .decor::before {
  content: '02.';
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 36px;
}

.works-wrapper .decor::after {
  content: 'Decor';
  text-transform: uppercase;
  font-size: 170px;
  position: absolute;
  left: 0;
  opacity: .1;
}

.works-wrapper .decor__text {
  margin-right: 100px;
  text-align: end;
}

.works-wrapper .decor__text h3 {
  font-size: 48px;
  text-transform: uppercase;
  font-weight: 400;
  position: relative;
}

.works-wrapper .decor__text h3::before {
  content: '';
  width: 100px;
  height: 1px;
  display: block;
  background: #010101;
  position: absolute;
  right: -120px;
  bottom: 26px;
}

.works-wrapper .decor__text p {
  font-size: 15px;
  position: relative;
}

.works-wrapper .decor__text p::before {
  content: '';
  width: 30px;
  height: 2px;
  display: block;
  background: #C0AF91;
  position: absolute;
  right: -50px;
  top: 5px;
}

.works-wrapper .decor__text a {
  color: #010101;
  position: relative;
}

.works-wrapper .decor__text a::before {
  content: '';
  display: block;
  width: 44px;
  height: 2px;
  background: #C0AF91;
  position: absolute;
  bottom: -5px;
  left: 0;
}

.works-wrapper .decor__text a i {
  color: #C0AF91;
}

.works-wrapper .decor img {
  min-width: 200px;
  width: 50%;
  height: auto;
}

.title {
  font-size: 36px;
  font-weight: 500;
  letter-spacing: 2px;
  position: relative;
}

.title::before {
  content: '';
  position: absolute;
  display: block;
  width: 45px;
  height: 3px;
  background: #C0AF91;
  bottom: 17px;
  left: 33px;
}

.furniture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: relative;
  overflow: hidden;
}

.furniture::before {
  content: '01.';
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 36px;
}

.furniture::after {
  content: 'Furniture';
  text-transform: uppercase;
  font-size: 170px;
  position: absolute;
  right: -200px;
  opacity: .1;
}

.furniture img {
  min-width: 200px;
  width: 50%;
  height: auto;
}

.btn {
  border: 1px solid #ffffff;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding: 20px 60px;
}

.left-bars {
  margin-left: 100px;
}

.left-bars h3 {
  font-size: 48px;
  text-transform: uppercase;
  font-weight: 400;
}

.left-bars h3::before {
  content: '';
  width: 100px;
  height: 1px;
  display: block;
  background: #010101;
  margin-left: -120px;
  margin-bottom: -30px;
}

.left-bars p {
  font-size: 15px;
}

.left-bars p::before {
  content: '';
  width: 30px;
  height: 2px;
  display: block;
  background: #C0AF91;
  margin-left: -50px;
  margin-bottom: -8px;
}

.left-bars a {
  color: #010101;
  position: relative;
}

.left-bars a::before {
  content: '';
  display: block;
  width: 44px;
  height: 2px;
  background: #C0AF91;
  position: absolute;
  bottom: -5px;
}

.left-bars i {
  color: #C0AF91;
}

.wooder-video {
  text-align: center;
}

.wooder-video h1 {
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 40px;
  position: relative;
}

.wooder-video h1::after {
  content: '';
  display: block;
  position: absolute;
  width: 44px;
  height: 4px;
  bottom: -15px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background: #C0AF91;
}

.wooder-video p {
  font-size: 15px;
}

.wooder-video__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 80px;
}

.wooder-video__wrapper div {
  position: relative;
  z-index: 1;
}

.wooder-video__wrapper div::after {
  content: '';
  display: block;
  position: absolute;
  width: 30%;
  height: 20%;
  border-radius: 50%;
  background: #BEA67C;
  left: 50%;
  bottom: 63%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  z-index: 2;
  opacity: .8;
}

.wooder-video__wrapper div::before {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 0 10px 20px;
  border-color: transparent transparent transparent #ffffff;
  position: absolute;
  left: 51%;
  bottom: 63%;
  -webkit-transform: translate(-50%, 50%);
          transform: translate(-50%, 50%);
  z-index: 3;
}

.wooder-video__wrapper div p {
  margin-top: 50px;
  position: relative;
}

.wooder-video__wrapper div p::after {
  content: '';
  display: block;
  position: absolute;
  width: 44px;
  height: 2px;
  background: #C0AF91;
  top: -30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.wooder-video__wrapper img {
  width: 100%;
  height: auto;
}

.black-woods {
  background: url(../img/black-woods.jpg) no-repeat center/cover;
  height: 700px;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 90px 0;
}

.black-woods__main {
  width: 50%;
  color: #C0AF91;
}

.black-woods__main.left-bars h3 {
  white-space: nowrap;
}

.black-woods__main.left-bars h3::before {
  background: #ffffff;
}

.black-woods__main.left-bars p {
  margin-bottom: 80px;
}

.black-woods__main.left-bars a {
  color: #ffffff;
  position: static;
}

.black-woods__main.left-bars a::before {
  display: none;
}

.black-woods .container {
  border: 1px solid #BEA67C;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.black-woods .container::after {
  content: '';
  display: block;
  position: absolute;
  width: 150px;
  height: 2px;
  background: #C0AF91;
  right: 0;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.about {
  margin-bottom: 100px;
}

.about .container .furniture::before {
  display: none;
}

.about .container .furniture::after {
  display: none;
}

.about .container .furniture__text.left-bars {
  margin-left: 40px;
}

.footer {
  background: #010101;
}

.footer .container {
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
}
